@import url("https://fonts.googleapis.com/css?family=Work+Sans");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');

body {
    font-family: "Work Sans";
}

h1 {
    border: solid;
    border-width: 0 0 4px 0;
    font-weight: 900;
}

hr {
    border-top: 4px solid;
    border-bottom: 0;
    margin: 0.6rem 0 1rem 0
}

details {
    margin: 1rem 0 1rem 2rem;
}

details span {
    display: block;
    margin: 1rem 0 0 2rem;
}

a {
    display: block;
}

div img {
    margin-right: 1rem;
}

#socials {
    display: flex;
    gap: 2rem;
}